/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #FFFFFF;
    font-size: 16px; /* Base font-size para rem */
    box-sizing: border-box;
    width: 100%;
  }
  :root {
    --primary-color: #2196F3;
    --primary-hover: #1769aa;
    --background-color: #FFFFFF;
    --text-color: #000000;
  }
  
/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #FFFFFF;
  box-shadow: 0px 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  position: relative;
  flex-wrap: wrap;
}

/* Logo */
header .logo img {
  max-height: 3.125rem;
  /* 50px */
  width: auto;
  /* Mantém proporções */
}

/* Navigation */
header nav ul {
  display: flex;
  list-style: none;
  gap: 2.5rem;
  padding: 0;
  margin: 0;
}

header nav ul li a {
  text-decoration: none;
  padding: 0.625rem 1.25rem;
  color: #FFFFFF;
  background-color: #2196F3;
  border-radius: 1.25rem;
  transition: background-color 0.3s;
  font-size: 1rem;
}

header nav ul li a:hover {
  background-color: #1769aa;
}

/* User Icons */
.user-icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  position: relative;
}

.user-icons img {
  height: auto; /* Remove a altura fixa */
  max-width: 2rem; /* Define uma largura máxima para o ícone */
  width: auto; /* Mantém a proporção da imagem */
  cursor: pointer;
}


/* Botão de Login */
.login-button {
  background-color: #2196F3; /* Azul padrão */
  color: #FFFFFF; /* Texto branco */
  border: none; /* Remove bordas */
  border-radius: 0.625rem; /* Bordas arredondadas */
  padding: 0.625rem 1.25rem; /* Espaçamento interno */
  font-size: 1rem; /* Tamanho do texto */
  cursor: pointer; /* Cursor de clique */
  transition: background-color 0.3s; /* Animação suave */
}

/* Hover do Botão de Login */
.login-button:hover {
  background-color: #1769aa; /* Azul mais escuro ao passar o mouse */
}

/* Formulário de Login */
.login-form-container {
  position: absolute;
  top: 4rem; /* Posição relativa ao topo */
  right: 2rem; /* Posição relativa à direita */
  width: 20rem; /* Largura fixa */
  background-color: #FFFFFF; /* Fundo branco */
  box-shadow: 0px 0.25rem 0.375rem rgba(0, 0, 0, 0.1); /* Sombra leve */
  border-radius: 0.625rem; /* Bordas arredondadas */
  padding: 1.5rem; /* Espaçamento interno */
  display: none; /* Inicialmente oculto */
  z-index: 10; /* Garante visibilidade acima de outros elementos */
}

/* Inputs do Formulário */
.login-form-container input[type="email"],
.login-form-container input[type="password"] {
  width: 100%; /* Largura total */
  padding: 0.625rem; /* Espaçamento interno */
  margin-bottom: 1rem; /* Espaçamento inferior */
  border: 1px solid #ccc; /* Borda cinza */
  border-radius: 0.625rem; /* Bordas arredondadas */
  font-size: 1rem; /* Tamanho do texto */
  box-sizing: border-box; /* Inclui padding no cálculo de largura */
  outline: none; /* Remove o destaque ao focar */
  transition: border-color 0.3s; /* Animação suave */
}

/* Efeito ao Focar nos Inputs */
.login-form-container input:focus {
  border-color: #2196F3; /* Borda azul ao focar */
}

/* Rótulos */
.login-form-container label {
  font-size: 1rem; /* Tamanho do texto */
  color: #333; /* Cor do texto */
  display: block; /* Exibe como bloco */
  margin-bottom: 0.5rem; /* Espaçamento inferior */
}

/* Botão de Enviar no Formulário */
.login-form-container button {
  background-color: #2196F3; /* Azul padrão */
  color: #FFFFFF; /* Texto branco */
  border: none; /* Remove bordas */
  border-radius: 0.625rem; /* Bordas arredondadas */
  padding: 0.625rem 1.25rem; /* Espaçamento interno */
  font-size: 1rem; /* Tamanho do texto */
  cursor: pointer; /* Cursor de clique */
  width: 100%; /* Largura total */
  transition: background-color 0.3s; /* Animação suave */
}

.login-form-container button:hover {
  background-color: #1769aa; /* Azul mais escuro ao passar o mouse */
}




/* Search Bar */
.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-container img {
  max-height: 1.875rem; /* 30px */
  cursor: pointer;
}

.search-bar {
  display: none;
  position: absolute;
  right: 0;
  transform: translateX(-100%);
  width: 0;
  max-width: 15rem;
  padding: 0.5rem 1rem;
  border: 2px solid #2196F3;
  border-radius: 1.25rem;
  outline: none;
  font-size: 1rem;
  color: #ffffff;
  background-color: #FFFFFF;
  z-index: 10;
  transition: all 0.3s ease;
}

.search-bar.active {
  display: block;
  width: 10rem; /* Largura expandida */
  background-color: #FFFFFF;
  color: #0f0f0f;
}


/* User Menu */
.user-menu {
  position: absolute;
  top: 4rem;
  right: 2rem;
  background-color: #FFFFFF;
  border-radius: 0.625rem;
  box-shadow: 0px 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 10;
  padding: 0.5rem;
}

.user-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-menu ul li {
  text-align: center;
  margin-bottom: 0.5rem;
}

.user-menu ul li:last-child {
  margin-bottom: 0;
}

.user-menu ul li a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1rem;
  background-color: #2196F3;
  border-radius: 0.625rem;
  padding: 0.625rem 1.25rem;
  transition: background-color 0.3s;
}

.user-menu ul li a:hover {
  background-color: #1769aa;
}

/*  manter proporções Search */
.search-container img {
  z-index: 11;
}


  
  /* Banner */
  
  .slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
    overflow: hidden;
  }
  
  .mySlides img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }
  .anuncio {
    width: 100%;
    position: relative;
    margin: auto;
    overflow: hidden;
  }
  
  .anuncio img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 1rem;
    padding: 0.5rem;
    position: absolute;
    bottom: 2rem;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .dots-container {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
  }
  
  .dot {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    margin: 0 0.2rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  .mySlides {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .mySlides.fade {
    opacity: 1;
  }
  
  /* Categories */
  .categories {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2.5rem auto;
    max-width: 75%;
  }
  
  .category {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .image-container {
    position: relative;
    display: inline-block;
    width: 12.5rem;
    height: 9.375rem;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  }
  
  .image-container .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    /* background: rgba(255, 255, 255, 0.8); */
    padding: 0.5rem;
  }
  
  .image-container h3 {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2196F3;
    color: white;
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    margin: 0;
  }
  
  
  /* Highlights */
  .highlights {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25.75rem, 1fr)); /* 300px */
    gap: 2rem;
    margin: 2.5rem auto;
    max-width: 85%;
  }
  
  .highlight {
    position: relative;
    border-radius: 0.625rem;
    overflow: hidden;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    height: 28.875rem;
  }
  
  .highlight img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .highlight h3 {
    position: absolute;
    top: 10px;
    left: 35%;
    transform: translateX(-50%);
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: white;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .highlight button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 0.625rem 1.25rem;
    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
    border-radius: 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
  }
  
  .highlight button:hover {
    background-color: #1769aa;
  }
  
  /* Modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    text-align: center;
  }
  
  .modal-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .modal-text {
    margin-top: 20px;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
  }
  /* Estilo do botão "Ir para a página" */
  .go-to-page {
    background-color: #4CAF50; /* Cor do botão */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  .go-to-page:hover {
    background-color: #45a049; /* Cor ao passar o mouse */
  }
  
  .destaque {
    text-align: center;          /* Centraliza o texto */
    font-family:  sans-serif; 
    font-size: 2rem;            /*  tamanho da fonte  */
    font-weight: bold;          /* texto em negrito  */
    margin-top: 30px;           /*  margem superior  */
    padding: 10px;
    margin-bottom: 30px;        /*  margem inferior  */
    background-color: #7171711e;
  }
  
  
  /* Newsletter */
  .newsletter {
    text-align: center;
    padding: 2.5rem 1.25rem;
    background-color: #F9F9F9;
    margin: 2.5rem 0;
  }
  
  .newsletter h3 {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
  }
  
  .newsletter form {
    display: flex;
    justify-content: center;
    gap: 0.625rem;
  }
  
  .newsletter input {
    padding: 0.625rem;
    width: 18.75rem;
    border: 1px solid #ccc;
    border-radius: 0.3125rem;
    font-size: 1rem;
  }
  
  .newsletter button {
    padding: 0.625rem 1.25rem;
    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
  }
  
  .newsletter button:hover {
    background-color: #1769aa;
  }
  
  .modal {
    display: none; /* Inicialmente oculto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    display: flex; /* Garante que o conteúdo do modal seja centralizado */
  }
  
  /* Modal */
.modal {
  display: none; /* Modal começa escondido */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
  justify-content: center;
  align-items: center;
  display: flex; /* Centraliza o conteúdo do modal */
  flex-direction: column; /* Se necessário, para organização vertical */
}

/* Conteúdo do Modal (layout com grid) */
.modal-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 130vh; /* Tamanho máximo da largura */
  text-align: left;
  max-height: 80vh; /* Limite de altura para não sair da tela */
  overflow: auto; /* Permite rolar caso o conteúdo ultrapasse o limite de altura */
}

/* Estilo da imagem dentro do modal */
.modal-image {
  width: 60vh;
  height: 60vh;
  object-fit: cover; /* Mantém a proporção da imagem */
  border-radius: 10px;
  margin-right: 20px;
}

/* Estilo do botão "Ir para a página" */
.go-to-page {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.go-to-page:hover {
  background-color: #45a049;
}

/* Estilo do botão de fechar */
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}


  
  
  /* Footer */
  footer {
    background-color: #333333;
    color: #FFFFFF;
    padding: 1.25rem 2.5rem;
  }
  
  footer .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2.5rem;
  }
  
  footer a {
    color: #FFFFFF;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  footer .social img {
    max-height: 1.875rem;
    margin-right: 0.625rem;
    cursor: pointer;
  }
  
  /* Telas menores que 1600px */
@media (max-width: 1600px) {
  .categories {
    max-width: 85%;
  }
}

/* Telas menores que 1200px */
@media (max-width: 1200px) {
  header nav ul {
    gap: 1.5rem;
  }

  .highlights {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); /* 320px */
  }
}

/* Telas menores que 992px */
@media (max-width: 992px) {
  .categories {
    max-width: 90%;
  }

  .highlights {
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr)); /* 300px */
  }
}

/* Telas menores que 768px */
@media (max-width: 768px) {
  .search-container img {
    padding: 1rem;
    flex-wrap: wrap;
  }

  header {
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
  }

  header nav ul {
    flex-direction: column;
    gap: 1rem;
  }

  header nav ul li a {
    font-size: 0.4rem;
    padding: 0.15rem 0.3rem;
  }

  .banner img {
    max-height: 40vh;
    width: 100%;
    height: auto;
  }

  .categories {
    flex-direction: column;
    gap: 1rem;
  }

  .category img {
    width: 10rem;
    height: 8rem;
  }

  .highlights {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .highlight button {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
}

/* Telas menores que 480px */
@media (max-width: 480px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
  }

  header nav ul {
    flex-direction: column;
    gap: 1rem;
  }

  header nav ul li a {
    font-size: 0.7rem;
    padding: 0.3rem 0.5rem;
  }

  .banner img {
    max-height: 30vh;
    width: 100%;
    height: auto;
  }

  .categories {
    gap: 0.8rem;
  }

  .category img {
    width: 8rem;
    height: 6rem;
  }

  .highlights {
    gap: 1rem;
  }

  .highlight button {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
  }
}

/* Telas menores que 320px */
@media (max-width: 320px) {
  header nav ul {
    gap: 0.2rem;
  }

  header nav ul li a {
    font-size: 0.7rem;
    padding: 0.3rem 0.5rem;
  }

  .banner img {
    max-height: 25vh;
    width: 100%;
    height: auto;
  }

  .categories {
    gap: 0.5rem;
  }

  .category img {
    width: 6rem;
    height: 4.5rem;
  }

  .highlight button {
    font-size: 0.7rem;
    padding: 0.3rem 0.6rem;
  }

  .newsletter input {
    font-size: 0.8rem;
  }

  .newsletter button {
    font-size: 0.8rem;
  }

  footer .social img {
    max-height: 1.5rem;
  }
}
