/* Corpo da página */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #FFFFFF;
  box-shadow: 0px 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  position: relative;
  flex-wrap: wrap;
}

/* Logo */
header .logo img {
  max-height: 3.125rem;
  /* 50px */
  width: auto;
  /* Mantém proporções */
}

/* Navigation */
header nav ul {
  display: flex;
  list-style: none;
  gap: 2.5rem;
  padding: 0;
  margin: 0;
}

header nav ul li a {
  text-decoration: none;
  padding: 0.625rem 1.25rem;
  color: #FFFFFF;
  background-color: #2196F3;
  border-radius: 1.25rem;
  transition: background-color 0.3s;
  font-size: 1rem;
}

header nav ul li a:hover {
  background-color: #1769aa;
}

/* User Icons */
.user-icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  position: relative;
}

.user-icons img {
  height: auto;
  /* Remove a altura fixa */
  max-width: 2rem;
  /* Define uma largura máxima para o ícone */
  width: auto;
  /* Mantém a proporção da imagem */
  cursor: pointer;
}

/* Search Bar */
.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-container img {
  max-height: 1.875rem;
  /* 30px */
  cursor: pointer;
}

.search-bar {
  display: none;
  position: absolute;
  right: 0;
  transform: translateX(-100%);
  width: 0;
  max-width: 15rem;
  padding: 0.5rem 1rem;
  border: 2px solid #2196F3;
  border-radius: 1.25rem;
  outline: none;
  font-size: 1rem;
  color: #ffffff;
  background-color: #FFFFFF;
  z-index: 10;
  transition: all 0.3s ease;
}

.search-bar.active {
  display: block;
  width: 10rem;
  /* Largura expandida */
  background-color: #FFFFFF;
  color: #0f0f0f;
}

/* Botão de Login */
.login-button {
  background-color: #2196F3;
  /* Azul padrão */
  color: #FFFFFF;
  /* Texto branco */
  border: none;
  /* Remove bordas */
  border-radius: 0.625rem;
  /* Bordas arredondadas */
  padding: 0.625rem 1.25rem;
  /* Espaçamento interno */
  font-size: 1rem;
  /* Tamanho do texto */
  cursor: pointer;
  /* Cursor de clique */
  transition: background-color 0.3s;
  /* Animação suave */
}

/* Hover do Botão de Login */
.login-button:hover {
  background-color: #1769aa;
  /* Azul mais escuro ao passar o mouse */
}

/* Formulário de Login */
.login-form-container {
  position: absolute;
  top: 4rem;
  /* Posição relativa ao topo */
  right: 2rem;
  /* Posição relativa à direita */
  width: 20rem;
  /* Largura fixa */
  background-color: #FFFFFF;
  /* Fundo branco */
  box-shadow: 0px 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  /* Sombra leve */
  border-radius: 0.625rem;
  /* Bordas arredondadas */
  padding: 1.5rem;
  /* Espaçamento interno */
  display: none;
  /* Inicialmente oculto */
  z-index: 10;
  /* Garante visibilidade acima de outros elementos */
}

/* Inputs do Formulário */
.login-form-container input[type="email"],
.login-form-container input[type="password"] {
  width: 100%;
  /* Largura total */
  padding: 0.625rem;
  /* Espaçamento interno */
  margin-bottom: 1rem;
  /* Espaçamento inferior */
  border: 1px solid #ccc;
  /* Borda cinza */
  border-radius: 0.625rem;
  /* Bordas arredondadas */
  font-size: 1rem;
  /* Tamanho do texto */
  box-sizing: border-box;
  /* Inclui padding no cálculo de largura */
  outline: none;
  /* Remove o destaque ao focar */
  transition: border-color 0.3s;
  /* Animação suave */
}

/* Efeito ao Focar nos Inputs */
.login-form-container input:focus {
  border-color: #2196F3;
  /* Borda azul ao focar */
}

/* Rótulos */
.login-form-container label {
  font-size: 1rem;
  /* Tamanho do texto */
  color: #333;
  /* Cor do texto */
  display: block;
  /* Exibe como bloco */
  margin-bottom: 0.5rem;
  /* Espaçamento inferior */
}

/* Botão de Enviar no Formulário */
.login-form-container button {
  background-color: #2196F3;
  /* Azul padrão */
  color: #FFFFFF;
  /* Texto branco */
  border: none;
  /* Remove bordas */
  border-radius: 0.625rem;
  /* Bordas arredondadas */
  padding: 0.625rem 1.25rem;
  /* Espaçamento interno */
  font-size: 1rem;
  /* Tamanho do texto */
  cursor: pointer;
  /* Cursor de clique */
  width: 100%;
  /* Largura total */
  transition: background-color 0.3s;
  /* Animação suave */
}

.login-form-container button:hover {
  background-color: #1769aa;
  /* Azul mais escuro ao passar o mouse */
}



/* Banner */

.slideshow-container {
  width: 100%;
  position: relative;

  overflow: hidden;
}

.mySlides img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.anuncio {
  width: 100%;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.anuncio img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 1rem;
  padding: 0.5rem;
  position: absolute;
  bottom: 2rem;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

.dots-container {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 0 0.2rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.mySlides {
  display: none;
  opacity: 0;
  transition: opacity 1ms ease-in-out;
  transition: all;
}

.mySlides.fade {
  opacity: 3;
}


.bannermeio {
  width: 100%;
  /* Largura de 100% da tela */
  height: 50vh;
  /* Altura de aproximadamente 50% da altura da janela */
  background-image: url('/IMAGENS/Anuncio3.png');
  /* Defina o caminho da imagem */
  background-size: cover;
  /* Faz a imagem cobrir toda a área da div, mantendo a proporção */
  background-position: center;
  /* Centraliza a imagem na div */
}


.bannermeio img {
  width: fit-content;
  height: 90vh;
  object-fit: cover;
  align-self: center;

}

/* Seção de Categorias */
.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  padding: 20px 10px;
  background-color: #1769aa;
}

.categories .category {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.categories .category .image-container {
  position: relative;
  /* Necessário para o botão */
}

.categories .category img {
  width: 100vh;
  height: 40vh;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.categories .category button {

  bottom: 10px;
  right: 10px;
  background-color: #2196F3;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 1.25rem;
  cursor: pointer;

  /* Garante que o botão fique por cima */
  transition: background-color 0.3s;
}

.categories .category button:hover {
  background-color: #1769aa;
}

.categories .category h3 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(7, 7, 7, 0.301);
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 20px;
}

.categories .category:hover {
  transform: scale(1.05);
}

#anuncios {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.anuncio1 {
  flex: 1;
  max-width: 500px;
  overflow: hidden;
}

.anuncio1 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.anuncios-direita {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  max-width: 500px;
}

.anuncio2,
.anuncio3 {
  flex: 1;
  overflow: hidden;
}

.anuncio2 img,
.anuncio3 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* beaches-set */
.beaches-set {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  /* 300px */
  gap: 2rem;
  margin: 2.5rem auto;
  max-width: 75%;
  overflow: hidden;
  opacity: 0;
  /* Inicialmente invisível */
  transform: translateY(20px);
  /* Deslocamento inicial */
  animation: fadeIn 0.8s forwards;
  /* Aparecendo com animação */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.beach:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.beach {
  position: relative;
  border-radius: 0.625rem;
  overflow: hidden;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  height: 21.875rem;
}

.beach img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.beach h3 {
  position: absolute;
  top: 10px;
  left: 35%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.137);
  color: white;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
}

.beach h3 :hover {
  position: absolute;
  transform: scale(1.05);

}

.beaches-set button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: 0.625rem 1.25rem;
  background-color: #2196F3;
  color: #FFFFFF;
  border: none;
  border-radius: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Adicionando o delay de animação para cada item */
.beach:nth-child(1) {
  animation-delay: 0s;
}

.beach:nth-child(2) {
  animation-delay: 0.2s;
}

.beach:nth-child(3) {
  animation-delay: 0.4s;
}

.beach:nth-child(4) {
  animation-delay: 0.6s;
}

.beach:nth-child(5) {
  animation-delay: 0.8s;
}

.beach:nth-child(6) {
  animation-delay: 1s;
}

.beach:nth-child(7) {
  animation-delay: 1.2s;
}

.beach:nth-child(8) {
  animation-delay: 1.4s;
}

.beach:nth-child(9) {
  animation-delay: 1.6s;
}

.beach:nth-child(10) {
  animation-delay: 1.8s;
}

.beach:nth-child(11) {
  animation-delay: 2s;
}

.beach:nth-child(12) {
  animation-delay: 2.2s;
}

.beach:nth-child(13) {
  animation-delay: 2.4s;
}

.beach:nth-child(14) {
  animation-delay: 2.6s;
}

.beach:nth-child(15) {
  animation-delay: 2.8s;
}

.beach:nth-child(16) {
  animation-delay: 3s;
}

.beach:nth-child(17) {
  animation-delay: 3.2s;
}

.beach:nth-child(18) {
  animation-delay: 3.4s;
}

.beach:nth-child(19) {
  animation-delay: 3.6s;
}

.beach:nth-child(20) {
  animation-delay: 3.8s;
}

.beach:nth-child(21) {
  animation-delay: 4s;
}

.beach:nth-child(22) {
  animation-delay: 4.2s;
}

.beach:nth-child(23) {
  animation-delay: 4.4s;
}

.beach:nth-child(24) {
  animation-delay: 4.6s;
}

.beach:nth-child(25) {
  animation-delay: 4.8s;
}

.beach:nth-child(26) {
  animation-delay: 5s;
}

.beach:nth-child(27) {
  animation-delay: 5.2s;
}

.beach:nth-child(28) {
  animation-delay: 5.4s;
}

.beach:nth-child(29) {
  animation-delay: 5.6s;
}

.beach:nth-child(30) {
  animation-delay: 5.8s;
}

.beach:nth-child(31) {
  animation-delay: 6s;
}

.beach:nth-child(32) {
  animation-delay: 6.2s;
}

.beach:nth-child(33) {
  animation-delay: 6.4s;
}

.beach:nth-child(34) {
  animation-delay: 6.6s;
}

.beach:nth-child(35) {
  animation-delay: 6.8s;
}

.beach:nth-child(36) {
  animation-delay: 7s;
}

.beach:nth-child(37) {
  animation-delay: 7.2s;
}

.beach:nth-child(38) {
  animation-delay: 7.4s;
}




button:hover {
  background-color: #0056b3;
}


.categories button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: 0.625rem 1.25rem;
  background-color: #2196F3;
  color: #FFFFFF;
  border: none;
  border-radius: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
}

.beach button:hover {
  background-color: #1769aa;
}

.destaque {
  text-align: center;
  /* Centraliza o texto */
  font-family: sans-serif;
  font-size: 2rem;
  /*  tamanho da fonte  */
  font-weight: bold;
  /* texto em negrito  */
  margin-top: 0px;
  /*  margem superior  */
  padding: 0px;
  margin-bottom: 0px;
  /*  margem inferior  */
  background-color: #0a0a0a1e;
}



/* Modal */
.modal {
  display: none;
  /* Inicialmente oculto */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  display: flex;
  /* Garante que o conteúdo do modal seja centralizado */
}

/* Conteúdo do Modal (layout com grid) */
.modal-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 130vh;
  text-align: left;
}

/* Estilo da imagem dentro do modal */
.modal-image {
  width: 60vh;
  height: 60vh;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}



/* Estilo do botão "Ir para a página" */
.go-to-page {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.go-to-page:hover {
  background-color: #45a049;
  /* Cor ao passar o mouse */
}

/* Estilo do botão de fechar */
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}

/* destaque */
.destaque {
  text-align: center;
  /* Centraliza o texto */
  font-family: sans-serif;
  font-size: 2rem;
  /*  tamanho da fonte  */
  font-weight: bold;
  /* texto em negrito  */
  margin-top: 30px;
  /*  margem superior  */
  padding: 10px;
  margin-bottom: 30px;
  /*  margem inferior  */
  background-color: #7171711e;
}

/* Newsletter */
.newsletter {
  background-color: #004d61;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.newsletter h3 {
  margin-bottom: 20px;
  font-size: 24px;
}

.newsletter form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.newsletter input[type="email"] {
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 5px;
}

.newsletter button {
  background-color: #ffcc00;
  color: #004d61;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.newsletter button:hover {
  background-color: white;
  color: #004d61;
}


/* Footer */
footer {
  background-color: #333333;
  color: #FFFFFF;
  padding: 1.25rem 2.5rem;
}

footer .footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2.5rem;
}

footer a {
  color: #FFFFFF;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer .social img {
  max-height: 1.875rem;
  margin-right: 0.625rem;
  cursor: pointer;
}